{% if page.lang == 'en' %}
{% capture subprojects_en %}{% include sidebars/subprojects_en.md %}{% endcapture %}
{% else %}
{% capture subprojects_de %}{% include sidebars/subprojects_de.md %}{% endcapture %}
{% endif %}

<header class="page-header">
  <div class="container">
    <div class="mobile-bar">
      <h1 class="logo">
        <a href="/">
          <img 
          src="/assets/img/inside_logo.png" 
          alt="INSIDe"></a>
      </h1>
    </div>
    <nav class="main-menu">
      <ul class="main-nav">
        {% if page.lang == 'en' %}
          <li>
            [Home]({{ site.url }}{{ site.baseurl }}{% link en/index.md %})
          </li>
          <li>
            [News]({{ site.url }}{{ site.baseurl }}{% link en/news/ %})
          </li>
          <li>
            [News]({{ site.url }}{{ site.baseurl }}{% link en/subprojects/ %}
            {{ subprojects_en | markdownify }}
          </li>
          <li>
            [Contact]({{ site.url }}{{ site.baseurl }}{% link en/contact/ %}
          </li>
          <li>
            [Funding]({{ site.url }}{{ site.baseurl }}{% link /en/funding/ %}
          </li>
        {% else %}
          <li>
            [Home]({{ site.url }}{{ site.baseurl }}{% link de/index.md %})

          </li>
          <li>
            [Aktuelles]({{ site.url }}{{ site.baseurl }}{% link de/news/ %}
          </li>
          <li>
            [Arbeitspakete]({{ site.url }}{{ site.baseurl }}{% link de/subprojects/ %}
            {{ subprojects_de | markdownify }}
          </li>
          <li>
            [Kontakt]({{ site.url }}{{ site.baseurl }}{% link de/contact/ %}
          </li>
          <li>
            [Finanzierung]({{ site.url }}{{ site.baseurl }}{% link de/funding/ %}
          </li>
        {% endif %}
        
      </ul>
    </nav>
  </div><!-- /.container -->
</header><!-- /.page-header -->
